
#intro-screen {
    background-color: #6a11df;
}

.center-middle {
    
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: burlywood;
      
}

/* Buttons start here */

.tutorial-btn {
    background: #edf000; /* background color */
}
.infinite-btn {
    background: #f15640;
}
.about-btn {
    background: #27c9b8;
}
.tutorial-btn,
.infinite-btn,
.about-btn {
    color: #1d1d1d; /* text color */
    display: inline-block;
    border-radius: 5px; /* square corners */
    padding: 10px 18px; /* space around text */
    text-transform: uppercase; /* all capital letters */
    font-weight: 700;
    letter-spacing: 1px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.tutorial-btn:hover,
.infinite-btn:hover,
.about-btn:hover {
    background: #fff;
}

/* End of buttons */