
#tutorial-screen {
    background-color: #6a1;
}

.center-middle {
    
    margin: auto;
    width: 75%;
    height: 10em;
    border: 3px solid black;
    padding: 10px;
    margin-top: 220px;
    background-color: burlywood;
      
}

/* Game board css starts here */

.card-list {
    display: flex;
}

.game-board {
    margin: auto;
    display: flex;

}

.chevron {
    list-style: none;
     padding-top: 0.5em;
}
  
#card-list {
    display: flex;
}