<div id="main-wrapper" class="split-container abs-fs">
		<div class="container-fluid">
			<div class="row">
				<div class="side-left bg-cover">
					<div id="intro-content" class="col-lg-6 vflow bg-cover">

						<div class="st-logo">
							<img src="../img/logo.png" alt="ZooBreakout!"/>
						</div>

						<div class="st-desc">
							<h2 class="fw600">CS 4500, Fall 2021</h2>
							<p>
                                <b>GROUP NAME:</b> The Flying Purple Monkeys<br/>
                                <b>GROUP MEMBERS:</b> Tony Urschler, Tyler Ziggas, Andrew Ziggas, Theodore Nesham, Ahmed Aljorani<br/>
                                <b>TEAM LEADER:</b> Tony Urschler<br/>
						    </p>
							<p>
								<a class="st-btn btn-fill" data-toggle="modal" data-target="#" @onclick="@(() => StoryChosen.InvokeAsync(true))">Story Mode</a>
								<a class="st-btn btn-fill" data-toggle="modal" data-target="#" @onclick="@(() => InfiniteChosen.InvokeAsync(true))">Infinite Mode</a>
								<a class="st-btn btn-fill" data-toggle="modal" data-target="#" @onclick="@(() => AboutChosen.InvokeAsync(true))">About Us</a>
							</p>
						</div>

						<div class="st-footer">
						</div>

					</div>
				</div>
            </div>
        </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> StoryChosen { get; set; }
    [Parameter]
    public EventCallback<bool> InfiniteChosen { get; set; }
    [Parameter]
    public EventCallback<bool> AboutChosen { get; set; }
}