<div class="container">
    <div class="row">
        <div class="col-4">
            <p>
                Oh no! The animals have escaped from the local zoo! We need your help to find them. <br>
                These are the rules.<br>
                Explanation of diagram.<br>
            </p>
            <button class="btn btn-md btn-primary" @onclick="@(() => TutorialContinue.InvokeAsync(true))">Continue</button>
        </div>
        <div class="col-8">
            <div class="row align-items-center">
                <h1 class="display-3">#1</h1>
                <img src="../img/back_card.png" width="200px">
                <img src="../img/bear_card.png" width="200px">
                <img src="../img/back_card.png" width="200px">
            </div>
            <div class="row align-items-center">
                <h1 class="display-3">#2</h1>
                <img src="../img/cat_card.png" width="200px">
                <img src="../img/back_card.png" width="200px">
                <img src="../img/kangoroo_card.png" width="200px">
            </div>
            <div class="row align-items-center">
                <h1 class="display-3">#3</h1>
                <h1 class="display-4">VICTORY!</h1>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> TutorialContinue { get; set; }
}