<div class="p-5">
<div class="row">
    <div class="col-6">
        <p>
            Oh no! The animals have escaped from the local zoo! We need your help to find them. <br>
            These are the rules.<br>
            Explanation of diagram.<br>
        </p>
        <a class="st-btn btn-fill" data-toggle="modal" data-target="#" @onclick="@(() => TutorialContinue.InvokeAsync(true))">Continue</a>
    </div>
    <div class="col-6 diagram">
        <div class="row align-items-center justify-content-center">
            <h1 class="display-3" style="margin-right:15px;">#1</h1>
            <img src="../img/cards/back_card.png" width="175px" style="margin:8px;">
            <img src="../img/cards/bear_card.png" width="175px" style="margin:8px;">
            <img src="../img/cards/back_card.png" width="175px" style="margin:8px;">
        </div>
        <br>
        <div class="row justify-content-center">
            @* 
                Image from Pixel perfect on flaticon.com:
                https://www.flaticon.com/free-icon/down-arrow_892629?term=arrow%20down&page=2&position=66&page=2&position=66&related_id=892629&origin=search
            *@
            <img src="../img/down-arrow.png" width="50px">
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
            <h1 class="display-3" style="margin-right:15px;">#2</h1>
            <img src="../img/cards/cat_card.png" width="175px" style="margin:8px;">
            <img src="../img/cards/blank_card.png" width="175px" style="margin:8px;opacity:0;">
            <img src="../img/cards/kangoroo_card.png" width="175px" style="margin:8px;">
        </div>
        <br>
        <div class="row justify-content-center">
            @* 
                Image from Pixel perfect on flaticon.com:
                https://www.flaticon.com/free-icon/down-arrow_892629?term=arrow%20down&page=2&position=66&page=2&position=66&related_id=892629&origin=search
            *@
            <img src="../img/down-arrow.png" width="50px">
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
            <h1 class="display-3" style="margin-right:15px;">#3</h1>
            <h1 class="display-1">VICTORY!</h1>
        </div>
    </div>
</div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> TutorialContinue { get; set; }
}